.Button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}

.Button_default {
    background-color: #dcdcdc;
    color: black;
}

.Button_positive {
    background-color: #4caf50;
    color: white;
}

.Button_negative {
    background-color: #e53935;
    color: white;
}