.EmotionItem {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmotionItem img {
    width: 50%;
    margin-bottom: 10px;
}

.EmotionItem span {
    font-size: 18px;
}

.EmotionItem_off {
    background-color: #ececec;
}

.EmotionItem_on_1 {
    background-color: #c8e6c9;
}

.EmotionItem_on_2 {
    background-color: #dcedc8;
}

.EmotionItem_on_3 {
    background-color: #fff9c4;
}

.EmotionItem_on_4 {
    background-color: #ffcdd2;
}

.EmotionItem_on_5 {
    background-color: #ef9a9a;
}