.Header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff8e1;
    border-radius: 15px;
    border: 2px solid #d2b48c;
    box-shadow: 0 0 15px rgba(92, 64, 51, 0.3);
}

.Header h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}
.Header > div {
    display: flex;
}

.Header .header_title {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

.Header .header_left {
    width: 25%;
    justify-content: start;
    margin-left: 10px;
}

.Header .header_right {
    width: 25%;
    justify-content: end;
    margin-right: 10px;
}